{% for plugin in site.plugins %}
    {% if page.url == "/plugins/index.html" %}
        {% if plugin.title == "plugins Contents" %}

                <h2>{{ plugin.title }}</h2>

        {% else %}

            <li>
                <a href="{{plugin.url}}">{{ plugin.title }}</a>
            </li>

        {% endif %}

    {% else %}
        {% if plugin.title == "Plugins Contents" %}

            <a href="{{plugin.url}}"><h2>{{ plugin.title }}</h2></a>

            {% else %}

            <li>
                <a href="{{plugin.url}}">{{ plugin.title }}</a>
            </li>

        {% endif %}
    {% endif %}

{% endfor %}