<div>
    {% for topic in site.topics %}

        {% if page.url == "/topics/index.html" %}

            {% if topic.title == "Topics Contents" %}
                    <h2>Topics</h2>

            {% endif %}

        {% else %}

            {% if topic.title == "Topics Contents" %}
                <h2><a href="{{topic.url}}">Topics</a></h2>
            {% endif %}

        {% endif %}

    {% endfor %}

    <ul class="content-list collection-topics">
        {% for topic in site.topics %}

            {% if topic.title != "Topics Contents" %}

                {% if topic.url contains "index.html" %}
                    <li class="collection-main">
                        <a href="{{topic.url}}">{{ topic.title }}</a>
                    </li>
                {% endif %}

            {% endif %}

        {% endfor %}

    </ul>
</div>