<div>
    {% for plugin in site.plugins %}

        {% if page.url == "/plugins/index.html" %}

            {% if plugin.title == "Plugins Contents" %}
                    <h2>Plugins</h2>

            {% endif %}

        {% else %}

            {% if plugin.title == "Plugins Contents" %}
                <h2><a href="{{plugin.url}}">Plugins</a></h2>
            {% endif %}

        {% endif %}

    {% endfor %}

    <ul class="content-list collection-plugins">
        {% for plugin in site.plugins %}

            {% if plugin.title != "Plugins Contents" %}

                {% if plugin.url contains "index.html" %}
                    <li class="collection-main">
                        <a href="{{plugin.url}}">{{ plugin.title }}</a>
                    </li>
                {% else %}
                    <ul class="collection-sub">
                        <li>
                            <a href="{{plugin.url}}">{{ plugin.title }}</a>
                        </li>
                    </ul>
                {% endif %}

            {% endif %}

        {% endfor %}

    </ul>
</div>