<div>
    {% for product in site.products %}

        {% if page.url == "/products/index.html" %}

            {% if product.title == "Products Contents" %}

                    <h2>Products</h2>

            {% endif %}

        {% else %}

            {% if product.title == "Products Contents" %}
                <h2><a href="{{product.url}}">Products</a></h2>
            {% endif %}

        {% endif %}

    {% endfor %}

    <ul class="content-list collection-products">
        {% for product in site.products %}

            {% if product.title != "Products Contents" %}

                {% if product.url contains "index.html" %}
                    {% if product.path != "_products/bcc-wp/signon/index.md" %}
                        <li class="collection-main">
                            <a href="{{product.url}}">{{ product.title }}</a>
                        </li>
                    {% endif %}
                {% endif %}

            {% endif %}

        {% endfor %}

    </ul>
</div>