{% for guide in site.guides %}
    {% if page.url == "/guides/index.html" %}
        {% if guide.title == "guides Contents" %}

                <h2>{{ guide.title }}</h2>

        {% else %}

            <li>
                <a href="{{guide.url}}">{{ guide.title }}</a>
            </li>

        {% endif %}

    {% else %}
        {% if guide.title == "Guides Contents" %}

            <a href="{{guide.url}}"><h2>{{ guide.title }}</h2></a>

            {% else %}

            <li>
                <a href="{{guide.url}}">{{ guide.title }}</a>
            </li>

        {% endif %}
    {% endif %}

{% endfor %}