<div>
    {% for guide in site.guides %}

        {% if page.url == "/guides/index.html" %}

            {% if guide.title == "Guides Contents" %}
                    <h2>Guides</h2>

            {% endif %}

        {% else %}

            {% if guide.title == "Guides Contents" %}
                <h2><a href="{{guide.url}}">Guides</a></h2>
            {% endif %}

        {% endif %}

    {% endfor %}

    <ul class="content-list collection-guides">
        {% for guide in site.guides %}

            {% assign repo = guide.url | split:"/" %}
            {% assign filename = repo | slice: 3 %}

            {% if guide.title != "Guides Contents" %}

                {% if filename contains "index.html" %}
                    <li class="collection-main">
                        <a href="{{guide.url}}">{{ guide.title }}</a>
                    </li>
                {% else %}
                    <ul class="collection-sub">
                        <li>
                            <a href="{{guide.url}}">{{ guide.title }}</a>
                        </li>
                    </ul>
                {% endif %}

            {% endif %}

        {% endfor %}

    </ul>
</div>