<div>
    {% for topic in site.topics %}

        {% if page.url == "/topics/index.html" %}

            {% if topic.title == "Topics Contents" %}
                    <h2>Topics</h2>

            {% endif %}

        {% else %}

            {% if topic.title == "Topics Contents" %}
                <h2><a href="{{topic.url}}">Topics</a></h2>
            {% endif %}

        {% endif %}

    {% endfor %}

    <ul class="content-list collection-topics">

        {% for topic in site.topics %}


            {% if topic.title != "Topics Contents" && topic.title != " " %}

            <li>
                <a href="{{topic.url}}">{{ topic.title }}</a>
            </li>

            {% endif %}

        {% endfor %}

    </ul>
</div>