{% for project in site.projects %}

    {% if page.url == "/projects/index.html" %}
        {% if project.title == "Projects Contents" %}

                <h2>{{ project.title }}</h2>

        {% else %}

            <li>
                <a href="{{project.url}}">Projects</a>
            </li>

        {% endif %}

    {% else %}
        {% if project.title == "Projects Contents" %}

            <a href="{{project.url}}"><h2>{{ project.title }}</h2></a>

            {% else %}

            <li>
                <a href="{{project.url}}">{{ project.title }}</a>
            </li>

        {% endif %}
    {% endif %}

{% endfor %}