<div>
    {% for doc in site.docs %}

        {% if page.url == "/docs/index.html" %}

            {% if doc.title == "Docs Contents" %}
                    <h2>Documentation</h2>

            {% endif %}

        {% else %}

            {% if doc.title == "Docs Contents" %}
                <h2><a href="{{doc.url}}">Documentation</a></h2>
            {% endif %}

        {% endif %}

    {% endfor %}

    <ul class="content-list collection-docs">
        {% for doc in site.docs %}

            {% if doc.title != "Docs Contents" %}

                {% if doc.url contains "index.html" %}
                    <li class="collection-main">
                        <a href="{{doc.url}}">{{ doc.title }}</a>
                    </li>
                {% else %}
                    <ul class="collection-sub">
                        <li>
                            <a href="{{doc.url}}">{{ doc.title }}</a>
                        </li>
                    </ul>
                {% endif %}

            {% endif %}

        {% endfor %}

    </ul>
</div>