{% for doc in site.docs %}
    {% if page.url == "/docs/index.html" %}
        {% if doc.title == "docs Contents" %}

                <h2>{{ doc.title }}</h2>

        {% else %}

            <li>
                <a href="{{doc.url}}">{{ doc.title }}</a>
            </li>

        {% endif %}

    {% else %}
        {% if doc.title == "Docs Contents" %}

            <a href="{{doc.url}}"><h2>{{ doc.title }}</h2></a>

            {% else %}

            <li>
                <a href="{{doc.url}}">{{ doc.title }}</a>
            </li>

        {% endif %}
    {% endif %}

{% endfor %}