<div id="bcc-search-wrapper">
    <label for="search_code_input">Search for code in <span>BCC-code</span></label>
    <div>

        <div id="search_suggestions">
            <input type="text" name="searchCode" id="search_code_input" placeholder="Example: Widgets"/>
        </div>

        <button onclick="searchOnClickFunction()" class="btn-search">
            <span>Search Github</span>
        </button>
        <button onclick="listMarkdownFiles()" class="btn-search">
            <span>Find Markdown</span>
        </button>
    </div>
</div>

<script type="module"></script>

<script>


    function searchOnClickFunction() {

        const searchCode = document.getElementById("search_code_input").value;
        const searchUrl = "https://github.com/search?q=org%3Abcc-code+" + searchCode;

        console.log(searchUrl)
        // window.location.href = searchUrl

    }


    async function listMarkdownFiles() {
        // const getMarkdownFilesUrl = `https://api.github.com/search/code?q=langauge:markdown+org:bcc-code&per_page=100`;
        const getMarkdownFilesUrl = `https://api.github.com/search/code?q=language:markdown+org:bcc-code&per_page=500`;

        const getMarkdownData = await fetch(getMarkdownFilesUrl)
            .then(response => response.json())
            .catch(error => console.log(error));


        for (let data of getMarkdownData.items) {
            const markdownRepositoryData = data.repository;
            const markdownRepositoryName = markdownRepositoryData.name;
            
            const searchSuggestions = document.createElement("p");
            searchSuggestions.innerText = markdownRepositoryName;
            document.getElementById("search_suggestions").appendChild(searchSuggestions)
            
        }


    }

</script>