<div id="bcc-search-wrapper">

    <div id="search_suggestions_wrapper">
        <label for="search_code_input"> Search BCC-Code Github </label>

        <input type="text" name="searchCode"
               id="search_code_input"
               placeholder="Search bcc-code"
               onkeyup="doubleFunction()"/>
        <div id="search_suggestions-section">
            <ul>
                <li class="search_button">
                    <a onclick="searchOnClickFunction()" class="btn-search">
                        Search on Github
                    </a>
                </li>
                <li>
                    <ul id="search_suggestions"></ul>
                </li>


            </ul>

        </div>

    </div>
</div>

<script type="module"></script>

<script>

    const doubleFunction = () => {
        autoComplete();
        checkInputValue();
    }

    function autoComplete() {
        let input, filter, ul, li, a, i;
        input = document.getElementById("search_code_input");
        filter = input.value.toUpperCase();
        ul = document.getElementById("search_suggestions");
        li = ul.getElementsByTagName("li");

        for (i = 0; i < li.length; i++) {

            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function checkInputValue() {
        const searchInputElement = document.getElementById("search_code_input");

        if (searchInputElement.value === "" || searchInputElement.value === " ") {
            searchInputElement.setAttribute("class", "");
        } else {
            searchInputElement.setAttribute("class", "input_searching");
        }


    }

    function searchOnClickFunction() {

        const searchCode = document.getElementById("search_code_input").value;
        window.location.href = "https://github.com/search?q=org%3Abcc-code+" + searchCode;

    }

    let markdownNameArray = [];

    async function listMarkdownFiles() {

        let getMarkdownFilesUrl

        getMarkdownFilesUrl = `https://api.github.com/search/code?q=language:markdown+repo:bcc-code/bcc-code.github.io`;

        const getMarkdownData = await fetch(getMarkdownFilesUrl)
            .then(response => response.json())
            .catch(error => console.log(error));

        let newElementsLocation = document.getElementById("search_suggestions");


        for (let data of getMarkdownData.items) {
            const markdownRepositoryData = data.repository;
            const markdownRepositoryName = markdownRepositoryData.name;
            const markdownFileName = data.name;
            const markdownFilePath = data.path;
            const markdownFileUrl = data.html_url;
            const displayName = `${markdownRepositoryName}/${markdownFileName}`

            const sliceFilePath = markdownFilePath.slice(0, -3);

            console.log(markdownFileUrl)

            const markdownPageUrl = `/${markdownRepositoryName}/${sliceFilePath}.html`;

            if (markdownNameArray.includes(displayName)) {
                continue;
            } else {
                markdownNameArray.push(displayName);
            }


            let createListItem = document.createElement("li");
            let searchSuggestion = document.createElement("a");
            let searchSuggestionRepository = document.createElement("span");

            createListItem.className = "search_suggestion";

            searchSuggestion.setAttribute("href", `${markdownPageUrl}`);
            searchSuggestion.innerText = `${markdownFileName}`;

            searchSuggestionRepository.className = "search_suggestion";
            searchSuggestionRepository.innerText = `${markdownRepositoryName}`;

            newElementsLocation.appendChild(createListItem).appendChild(searchSuggestion);
            newElementsLocation.appendChild(createListItem).appendChild(searchSuggestion).appendChild(searchSuggestionRepository);
        }

    }

    listMarkdownFiles()
    
    // let searchInputElement = document.getElementById("search_code_input");
    //
    // async function searchInMarkdownFile() {
    //
    //     const searchInputValue = searchInputElement.value;
    //
    //     const getMarkdownFilesUrl = `https://api.github.com/search/code?q=${searchInputValue}+language:markdown+repo:bcc-code/bcc-code.github.io`;
    //
    //     const getMarkdownData = await fetch(getMarkdownFilesUrl)
    //         .then(response => response.json())
    //         .catch(error => console.log(error));
    //
    //     console.log(getMarkdownData)
    //
    //     let newElementsLocation = document.getElementById("search_suggestions");
    //
    //
    //     for (let data of getMarkdownData.items) {
    //         const markdownRepositoryData = data.repository;
    //         const markdownRepositoryName = markdownRepositoryData.name;
    //         const markdownFileName = data.name;
    //         const markdownFilePath = data.path;
    //         const markdownFileUrl = data.html_url;
    //         const displayName = `${markdownRepositoryName}/${markdownFileName}`
    //
    //         const sliceFilePath = markdownFilePath.slice(0, -3);
    //
    //         console.log(markdownFileUrl)
    //
    //         const markdownPageUrl = `/${markdownRepositoryName}/${sliceFilePath}.html`;
    //
    //         if (markdownNameArray.includes(displayName)) {
    //             continue;
    //         } else {
    //             markdownNameArray.push(displayName);
    //         }
    //
    //
    //         let createListItem = document.createElement("li");
    //         let searchSuggestion = document.createElement("a");
    //         let searchSuggestionRepository = document.createElement("span");
    //
    //         createListItem.className = "search_suggestion";
    //
    //         searchSuggestion.setAttribute("href", `${markdownPageUrl}`);
    //         searchSuggestion.innerText = `${markdownFileName}`;
    //
    //         searchSuggestionRepository.className = "search_suggestion";
    //         searchSuggestionRepository.innerText = `${markdownRepositoryName}`;
    //
    //         newElementsLocation.appendChild(createListItem).appendChild(searchSuggestion);
    //         newElementsLocation.appendChild(createListItem).appendChild(searchSuggestion).appendChild(searchSuggestionRepository);
    //     }
    //
    // }
    //
    // searchInputElement.addEventListener("keyup", function (event) {
    //
    //     switch (event.key) {
    //         case"Enter":
    //             searchInMarkdownFile()
    //             break;
    //     }
    // });


</script>