@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

// Colors
$bcc-dark-green: #004e48;
$bcc-dark-green-lighter: lighten($bcc-dark-green, 5%);
$bcc-light-green: #dbe1c0;
$bcc-neutral-black: #272727;
$bcc-warm-grey: #d3cfc9;
$bcc-warm-grey-lighter: #f5f4f3;
$bcc-warm-grey-darker: #ABA8A3;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: $bcc-warm-grey !default;
$header-bg-color: $bcc-dark-green !default;
$header-bg-color-secondary: $bcc-dark-green !default;

// Text
$section-headings-color: $bcc-dark-green !default;
$body-text-color: $bcc-neutral-black !default;
$body-link-color: $bcc-dark-green-lighter !default;
$blockquote-text-color: lighten($bcc-neutral-black, 20%) !default;

// Fonts
$text-sans:   "Archivo", Arial, sans-serif;
$text-serif:   "IBM Plex Serif", serif;


// Code
$code-bg-color: lighten($bcc-warm-grey, 10%) !default;
$code-text-color: $bcc-neutral-black !default;

// Borders
$border-color: $bcc-dark-green !default;
$table-border-color: $bcc-dark-green !default;
$hr-border-color: $bcc-dark-green !default;

// Border Radius
$border-radius-sm: 2px;
$border-radius: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;