#bcc-search-wrapper {
  color: $body-text-color;
  display: grid;
  grid-template-rows: 1fr;
  max-width: 350px;
  margin: 2rem auto 0;
  gap: 5px;
  line-height: 150%;

  label {
    display: none;
  }


  #search_suggestions_wrapper {

    input {
      border: 1px solid $border-color;
      padding: 10px;
      border-radius: $border-radius;
      height: 45px;
      width: 100%;
      cursor: pointer;
      transition: 0.5s;

      &.input_searching {

        + #search_suggestions-section {
          max-height: 350px;
          border: 1px solid $border-color;
        }

        border-radius: $border-radius $border-radius 0 0;

      }
    }

    #search_suggestions-section {

      max-height: 0;
      transition: 0.5s;
      position: absolute;
      background: white;
      width: 350px;
      margin-top: -2px;
      border: 0 solid $border-color;
      border-radius: 0 0 $border-radius $border-radius;
      overflow-x: auto;

      &:hover {
        max-height: 350px;
        border: 1px solid $border-color;

      }

      ul {

        list-style: none;
        padding: 0;
        margin: 0;


        > li {

          &.search_button {
            padding: 5px 10px;
            margin: 0;
            cursor: pointer;
            font-size: 16px;
            background-color: #fafafa;

            a {

              display: block;
              white-space: nowrap;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              color: $bcc-neutral-black;

              &:hover {
                text-decoration: none;
              }

            }

            &:hover {
              background-color: #f0f0f0;
            }
          }


          ul {

            li {
              padding: 5px 10px;
              margin: 0;
              cursor: pointer;

              overflow: hidden;
              font-size: 14px;
              //max-width: 205px;
              text-overflow: ellipsis;
              word-break: break-all;

              a {

                display: block;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $bcc-neutral-black;

                &:hover {
                  text-decoration: none;
                }


                span {
                  display: block;
                  font-size: 12px;
                  margin: -5px 0;
                  color: $bcc-warm-grey-darker;
                  //color: grey;
                }

              }

              &:hover {
                background-color: #f0f0f0;
              }
            }
          }

        }
      }

    }

  }
}